@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode"/>
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Style="min-height:100vh;">
    @* I assigned this color here as a class, can come back to *@
    <MudAppBar Elevation="1" Class="mud-secondary">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5" Class="ml-3">PW9</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" OnClick="() => OpenTopCornerDialog()" />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu ToggleMethodReference="DarkModeToggle"/>
    </MudDrawer>
    <MudMainContent Style="display:flex;flex-direction:column;flex-start;margin:20px;">
        @Body
    </MudMainContent>
</MudLayout>
<MudAppBar Bottom="true" Style="position:static;">
    <div style="display:flex;justify-content:center;width: -webkit-fill-available;">
        <p>&copy; 2024 - Joakim Dahl</p>
        <p>Site built with Blazor WebAssembly.</p>
    </div>
</MudAppBar>
<MudScrollToTop>
    <MudFab Color="Color.Secondary" Size="Size.Small" StartIcon="@Icons.Material.Filled.ArrowCircleUp" />
</MudScrollToTop>
