@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <MudText><h1>Welcome to PW9</h1></MudText>
        <MudText Typo="Typo.body1">Store your passwords securely and access them from anywhere.</MudText>
        <MudText Typo="Typo.body1">Sign up to get started or please login to access your stored passwords.</MudText>
        <div style="display:flex;justify-content:center;margin-top:30px;" class="flip-horizontal">
            <MudImage Src="key.png" Alt="key" Elevation="1" Style="width:65%;height:auto;border:none;box-shadow:none;"></MudImage>
        </div>
    </NotAuthorized>
    <Authorized>
        <MudTextField T="string" Label="Search" @bind-Value="@_searchText" Immediate="true" TextChanged="FilterEntries" @onblur="FilterEntries"></MudTextField>
        @* <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="@GetUserTest">Get User Test</MudButton> *@

        <MudText>Test string: @_testString</MudText>

        <MudList>
            @foreach (var entry in _filteredEntries)
            {
                <MudListItem>
                    <MudCard>
                        <MudButton OnClick="@((e) => OpenDialog(entry))" Color="Color.Primary">@entry.Name</MudButton>
                        <MudText>@entry.Url</MudText> @* Align="Align.Center"*@
                    </MudCard>
                </MudListItem>
            }
        </MudList>

        <MudText>More text here!</MudText>

        <MudCard>
            <MudText Typo="Typo.h6">This is an example of a MudCard.</MudText>
        </MudCard>
        
        <MudElement>
            Some more stuff.
        </MudElement>
    </Authorized>
</AuthorizeView>
