@page "/"

<PageTitle>Home</PageTitle>

<style>
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .responsive-image {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
</style>

<AuthorizeView>
    <NotAuthorized>
        <MudText><h1>Welcome to PW9</h1></MudText>
        <MudText Typo="Typo.body1">Store your passwords securely and access them from anywhere.</MudText>
        <MudText Typo="Typo.body1">Sign up to get started or please login to access your stored passwords.</MudText>
        <MudContainer>
            <div class="image-container">
                <picture>
                    <!-- Use the vertical image for screens larger than 1024px -->
                    <source srcset="key_vertical_margin.png" media="(min-width: 1024px)">
                    <!-- Fallback to the original image for smaller screens -->
                    <img src="key.png" alt="Key image" class="responsive-image">
                </picture>
            </div>
        </MudContainer>
    </NotAuthorized>
    <Authorized>
        <MudTextField T="string" Label="Search" @bind-Value="@_searchText" Immediate="true" TextChanged="FilterEntries" @onblur="FilterEntries" Clearable="true"></MudTextField>

        @* <MudButton OnClick="TryLoad">Load Pwds Test</MudButton> *@

        @if (_userEmail is not null)
        {
            <p>Welcome! @_userName</p>
        }
        @if (_filteredEntries is not null)
        {
            <MudList>
                @foreach (var entry in _filteredEntries)
                {
                    <MudListItem Style="margin-block:10px;">
                        <MudCard Style="padding:7px;">
                            <MudGrid>
                                <MudItem xs="8">
                                    <MudGrid>
                                        <MudItem xs="12">
                                            <MudText>Name</MudText>
                                            <MudButton OnClick="@((e) => OpenDialog(entry))" Color="Color.Secondary">@entry.Name</MudButton>
                                        </MudItem>
                                        <MudItem xs="12">
                                            <MudText>Url</MudText>
                                            <MudText>@entry.Url</MudText>
                                        </MudItem>
                                    </MudGrid>
                                </MudItem>
                                <MudItem xs="4">
                                    <MudText>Password Entry</MudText>
                                    <MudIconButton Icon="@Icons.Material.Filled.Key" Color="Color.Secondary" />
                                </MudItem>
                            </MudGrid>
                        </MudCard>
                    </MudListItem>
                }
            </MudList>
        }

    </Authorized>
</AuthorizeView>
